@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Inter',sans-serif;
}

body{
background:#f3f4f6;
min-height:100vh;
overflow-x:hidden;
}

.wrapper{
width:1440px;
max-width:95%;
margin:auto;
padding-top:30px;
}

/* HEADER */

header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:30px;
}

.logo-area{
display:flex;
align-items:center;
gap:14px;
}

.logo-box{
width:52px;
height:52px;
border-radius:14px;
background:linear-gradient(135deg,#412fc8d8,#7f24e6);
color:white;
display:flex;
justify-content:center;
align-items:center;
font-weight:700;
font-size:20px;
}

.logo-area h2{
font-size:32px;
font-weight:700;
color:#14235b;
}

.logo-area span{
font-size:14px;
color:#7c85a8;
}

.help-link{
color:#0f1d5b;
text-decoration:none;
font-weight:500;
}

/* HERO */

.hero{
display:grid;
grid-template-columns:420px 520px 440px;
align-items:center;
justify-content:center;
column-gap:20px;
}

.left-content h1{
font-size:55px;
font-weight:500;
line-height:1.10;
letter-spacing:-1px;
color:#0a0711;
}

.left-content span{
 background:linear-gradient(90deg,#164788,#af18b4);
-webkit-background-clip:text;
background-clip:text;
-webkit-text-fill-color:transparent;
}

.hero-text{
margin-top:20px;
font-size:16px;
line-height:1.6;
color:#3f1f53;
width:90%;
}

.feature-list{
margin-top:35px;
display:flex;
flex-direction:column;
gap:22px;
}

.feature{
display:flex;
gap:15px;
}

.icon{
width:54px;
height:54px;
border-radius:14px;
display:flex;
justify-content:center;
align-items:center;
font-size:20px;
}

.purple{
background:#f0e9ff;
color:#7045ff;
}

.blue{
background:#e9f1ff;
color:#4772ff;
}

.green{
background:#ebfaf2;
color:#20b978;
}

.pink{
background:#ffeafb;
color:#ff4dd2;
}

.feature h4{
font-size:16px;
margin-bottom:5px;
}

.feature p{
font-size:14px;
line-height:1.5;
color:#7b84a8;
}

/* ROBOT */

.robot-section{
display:flex;
justify-content:center;
align-items:center;
}

.robot{
width:520px;
max-width:100%;
object-fit:contain;
}

/* LOGIN */

.login-card{
background:#fff;
width:440px;
padding:38px 34px;
border-radius:30px;
box-shadow:0 20px 50px rgba(0,0,0,.08);
}

.user-circle{
width:72px;
height:72px;
margin:auto;
border-radius:50%;
background:#f0f3ff;
display:flex;
align-items:center;
justify-content:center;
font-size:28px;
color:#6c7cff;
}

.login-card h2{
text-align:center;
margin-top:18px;
font-size:38px;
color:#14235b;
}

.sub-title{
text-align:center;
margin-top:10px;
margin-bottom:30px;
color:#7b84a8;
}

.login-card label{
font-size:13px;
font-weight:600;
display:block;
margin-bottom:8px;
}

.input-box{
height:54px;
border:1px solid #e1e6f0;
border-radius:12px;
display:flex;
align-items:center;
padding:0 15px;
margin-bottom:20px;
}

.input-box input{
border:none;
outline:none;
width:100%;
padding-left:12px;
}

.eye{
cursor:pointer;
}

.options{
display:flex;
justify-content:space-between;
font-size:14px;
margin-bottom:20px;
}

.options a{
text-decoration:none;
color:#4772ff;
}

.login-btn{
width:100%;
height:56px;
border:none;
border-radius:12px;
color:white;
font-size:15px;
font-weight:600;
cursor:pointer;
background:linear-gradient(90deg,#4226b4,#ca20be);
}

.separator{
position:relative;
text-align:center;
margin:25px 0;
}

.separator:before,
.separator:after{
content:'';
position:absolute;
top:50%;
width:42%;
height:1px;
background:#ddd;
}

.separator:before{
left:0;
}

.separator:after{
right:0;
}

.signup{
text-align:center;
font-size:14px;
}

.signup a{
color:#4772ff;
text-decoration:none;
}

/* BOTTOM */

.info-bar{
margin-top:40px;
background:white;
border-radius:20px;
padding:28px;
display:grid;
grid-template-columns:repeat(4,1fr);
box-shadow:0 10px 30px rgba(43, 11, 104, 0.05);
}

.info{
display:flex;
gap:15px;
align-items:center;
}

.info i{
font-size:24px;
color:#4772ff;
}

.info p{
font-size:13px;
color:#7b84a8;
}

/* RESPONSIVE */

@media(max-width:1300px){

.hero{
grid-template-columns:1fr;
}

.login-card{
width:100%;
max-width:500px;
margin:auto;
}

.robot{
width:420px;
}

.info-bar{
grid-template-columns:repeat(2,1fr);
gap:20px;
}

}

@media(max-width:768px){

.left-content h1{
font-size:42px;
}

.info-bar{
grid-template-columns:1fr;
}

}
